<div >
    <section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="#"><img src="app/assets/img/logo-white.png" alt="Boxify Logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">TruckTrans... Simplifying Logistics at your Ease</h1>
							<a href="#plantransport" class="use-btn animated fadeInUp">Plan Transportation</a> <a href="#about" class="learn-btn animated fadeInUp">Learn more here<i class="fa fa-arrow-down"></i></a>
						</div>
					</div>
				</div>
			</section>
			
			
			
			<div class="overlay overlay-boxify">
			<nav>
				<ul>
					<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
					<li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
					<li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
					<li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
					<li><a data-target="#myModal" data-toggle="modal" ><i class="fa fa-download"></i>AdminLogin</a></li>
				</ul>
				<ul ng-show="userLogin" >


					<li><a href="#screenshots"><i class="fa fa-desktop"></i>Logout</a></li>

					<li><a data-target="#myModal" data-toggle="modal" ><i class="fa fa-download"></i>History</a></li>
					<li><a href="#screenshots"><i class="fa fa-desktop"></i>User Profile</a></li>
					<li><a href="#download"><i class="fa fa-download"></i>Post a quote </a></li>
				</ul>
			</nav>
		</div>
</div>