<div>
	<section class="hero">
		<div class="texture-overlay"></div>
		<div class="container">

			<div class="row hero-content">
				<div class="col-md-12">
					<h1 class="animated fadeInDown">TruckTrans... Simplifying
						Logistics at your Ease</h1>
					<a href="#plantransport" class="use-btn animated fadeInUp">Plan
						Transportation</a> <a href="#about"
						class="learn-btn animated fadeInUp">Learn more here<i
						class="fa fa-arrow-down"></i></a>
				</div>
			</div>
		</div>
	</section>

	<div class="overlay overlay-boxify">
		
	</div>



</div>
