<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TruckTrans... Simplifying the Logistics</title>
<meta name="description"
	content="B2B/C2B service providin transporters to manufacturers" />
<meta name="keywords"
	content="truck, logistics, goods, carrier, transport, manufacturers, transporters, goods carrier" />
<meta name="author" content="Mayur Gupta" />

	<script src="app/assets/libs/others/toucheffects-min.js"></script>

	<script src="app/assets/libs/Jquery/jquery-1.11.2.min.js"></script>
	
<!-- Bootstrap -->

<script src="app/assets/libs/others/modernizr.custom.js"></script>


<link href="app/assets/css/common.css" rel="stylesheet" type="text/css" />
<link href="app/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="app/assets/css/jquery/jquery.fancybox.css" rel="stylesheet">
<link href="app/assets/css/custom/flickity.css" rel="stylesheet">
<link href="app/assets/css/custom/animate.css" rel="stylesheet">
<link href="app/assets/css/custom/font-awesome.min.css"	rel="stylesheet">
<link href='app/assets/css/custom/css.css'	rel='stylesheet' type='text/css'>
<link href="app/assets/css/custom/styles.css" rel="stylesheet">
<link href="app/assets/css/custom/queries.css" rel="stylesheet">
<link href="app/assets/css/custom/myStyle.css" rel="stylesheet">

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

<!-- Angular JS-->
<script src="app/assets/libs/angularJs/angular.min.js"></script>
<script src="app/assets/libs/angularJs/angular-ui-router.js"></script>
<script src="app/assets/libs/angularJs/angular-route.min.js"></script>
<script type="app/assets/libs/angularJs/angular-cookies.min.js"></script>
<script src="https://rawgithub.com/cletourneau/angular-bootstrap-datepicker/master/dist/angular-bootstrap-datepicker.js" charset="utf-8"></script>


<!--Controllers & other JS files-->
<script src="app/app.js" type="text/javascript"></script>
<script src="app/components/truckService.js"></script>

<!--Booking Details-->
<script src="app/components/booking/bookingController.js"></script>
<script src="app/components/booking/bookingService.js"></script>

<!--Login Details-->
<script src="app/components/login/loginController.js"></script>
<script src="app/components/login/loginService.js"></script>

<!--Register User-->
<script src="app/components/register/registerController.js"></script>
<script src="app/components/register/registerService.js"></script>

<!-- Home -->
<script src="app/components/home/homeController.js"></script>

<!-- user details -->

<script src="app/components/user/userDetailsService.js"></script>
<script src="app/components/user/historyService.js"></script>
<script src="app/components/user/userDetails.js"></script>

<script src="app/constants.js"></script>

</head>
<body ng-app="truckTransApp" ng-controller="mainController">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<!-- open/close -->
	<header>
		<!-- <nav>
			<ul>
				<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
				<li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
				<li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
				<li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
				<li><a data-target="#myModal" data-toggle="modal"><i
						class="fa fa-download"></i>AdminLogin</a></li>
			</ul>
			<ul ng-show="userLogin">

				<li><a href="#screenshots"><i class="fa fa-desktop"></i>Logout</a></li>

				<li><a data-target="#myModal" data-toggle="modal"><i
						class="fa fa-download"></i>History</a></li>
				<li><a href="#screenshots"><i class="fa fa-desktop"></i>User
						Profile</a></li>
				<li><a href="#download"><i class="fa fa-download"></i>Post
						a quote </a></li>
			</ul>
		</nav> -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">TruckTrans</a>
				</div>
				<ul class="nav navbar-nav" style="width:90%">
					<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
					<li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
					<li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
					<li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
					<li ng-if="!isLogin"><a href="" data-target="#myModal"
						data-toggle="modal"><i class="fa fa-download"></i>Login</a></li>
					<li ng-if="isLogin" data-ng-controller="LoginController"><a
						href="" data-ng-click="doLogout()"><i class="fa fa-power-off"></i>Logout</a></li>
					
					<li ng-if="isLogin" style="float: right"><a
						href="#/userDashboard">Welcome.. {{loggedInUser}}</a></li>
				</ul>
			</div>
		</nav>

	</header>
	<div ng-view=""></div>
	<section class="video" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>
						<a
							href="http://www.youtube.com/embed/9No-FiEInLA?autoplay=1&wmode=opaque&fs=1"
							class="youtube-media"><i class="fa fa-play-circle-o"></i>
							Watch the Video</a>
					</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="features-intro">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 nopadding features-intro-img">
					<div class="features-bg">
						<div class="texture-overlay"></div>
						<div class="features-img wp1">
							<!-- cat apply truckzoo logo if required -->
							<!-- <img src="img/html5-logo.png" alt="HTML5 Logo"> -->
						</div>
					</div>
				</div>
				<div class="col-md-6 nopadding">
					<div class="features-slider">
						<ul class="slides" id="featuresSlider">
							<li>
								<h1>Multi-Purpose User Centric Process</h1>
								<p>Booking your Truck is now just a matter of few clicks</p> <!-- <p><a href="http://tympanus.net/codrops/?p=22554" class="arrow-btn">Find out why this freebie rocks! <i class="fa fa-long-arrow-right"></i></a></p> -->
							</li>
							<li>
								<h1>Made with Love, at your Doorsteps</h1>
								<p>Hassel free service, payment after compleation</p> <!-- <p><a href="http://tympanus.net/codrops/?p=22554" class="arrow-btn">Find out why this freebie rocks! <i class="fa fa-long-arrow-right"></i></a></p> -->
							</li>
							<li>
								<h1>The Fore-front of connecting India &amp; Technology</h1>
								<p>kuch socho likhne ko</p>
								<br> <!-- <p><a href="#features" class="arrow-btn">Find out why this freebie rocks! <i class="fa fa-long-arrow-right"></i></a></p> -->
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="features-list" id="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="col-md-4 feature-1 wp2">
						<div class="feature-icon">
							<i class="fa fa-desktop"></i>
						</div>
						<div class="feature-content">
							<h1>Reliable</h1>
							<p>On Time delivery with GPS tracking</p>
							<a href="http://tympanus.net/codrops/?p=22554"
								class="read-more-btn">Read More <i
								class="fa fa-chevron-circle-right"></i></a>
						</div>
					</div>
					<div class="col-md-4 feature-2 wp2 delay-05s">
						<div class="feature-icon">
							<i class="fa fa-flash"></i>
						</div>
						<div class="feature-content">
							<h1>Productive</h1>
							<p>Now increase your Productivity by keeping all the trucks
								engaged</p>
							<a href="http://tympanus.net/codrops/?p=22554"
								class="read-more-btn">Read More <i
								class="fa fa-chevron-circle-right"></i></a>
						</div>
					</div>
					<div class="col-md-4 feature-3 wp2 delay-1s">
						<div class="feature-icon">
							<i class="fa fa-heart"></i>
						</div>
						<div class="feature-content">
							<h1>Hassel-Free</h1>
							<p>
								follow 3-Steps process, Sit back and grab a glass of beer</a>.
							</p>
							<a href="http://tympanus.net/codrops/?p=22554"
								class="read-more-btn">Read More <i
								class="fa fa-chevron-circle-right"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="showcase">
		<div class="showcase-wrap">
			<div class="texture-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="device wp5"></div>
					</div>
					<div class="col-md-6">
						<h1>Showcase your Product or Service</h1>
						<p>think of some good content here,think of some good content
							here,think of some good content here,think of some good content
							here,think of some good content here,think of some good content
							here,think of some good content here</p>
						<blockquote class="team-quote">
							<div class="avatar">
								<img src="app/assets/img/avatar.png" alt="User Avatar">
							</div>
							<p>"think of some good content here,think of some good
								content here,think of some good content here,think of some good
								content here,think of some good content here" - Proud to be a
								gamer</p>
							<div class="logo-quote">
								<a href="http://tympanus.net/codrops/"><img
									src="app/assets/img/codrops-logo.png" alt="Codrops Logo"></a>
							</div>
						</blockquote>
						<a href="http://tympanus.net/codrops/?p=22554"
							class="download-btn">Download! <i class="fa fa-download"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="screenshots-intro" id="plantransport"
		ng-controller="bookingController">
		<form name="userForm" ng-submit="book(user)" novalidate>

			<div class="div-left">

				<h1>Source Details</h1>

				<!-- NAME -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
					<input type="text" name="name" placeholder="Name*"
						class="form-controll" ng-model="user.name" required>
					<p ng-show="userForm.name.$invalid && !userForm.name.$pristine"
						class="help-block">You name is required.</p>
				</div>

				<!-- EMAIL -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
					<input type="email" placeholder="E-mail*" name="email"
						class="form-controll" ng-model="user.email">
					<p ng-show="userForm.email.$invalid && !userForm.email.$pristine"
						class="help-block">Enter a valid email.</p>
				</div>


				<!-- Primary contact -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.primaryContact.$invalid && !userForm.primaryContact.$pristine }">
					<input type="number" placeholder="Primary Contact"
						name="primaryContact" class="form-controll"
						ng-model="user.primaryContact" ng-minlength="10" ng-maxlength="10">
					<p ng-show="userForm.primaryContact.$error.minlength"
						class="help-block">primary contact is too short.</p>
					<p ng-show="userForm.primaryContact.$error.maxlength"
						class="help-block">primary contact is too long.</p>
				</div>


				<!-- Secondary contact -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.secondaryContact.$invalid && !userForm.secondaryContact.$pristine }">
					<input type="number" placeholder="Source Secondary Contact"
						name="secondryContact" class="form-controll"
						ng-model="user.secondaryContact" ng-minlength="10"
						ng-maxlength="10">
					<p ng-show="userForm.secondaryContact.$error.minlength"
						class="help-block">Secondary contact is too short.</p>
					<p ng-show="userForm.secondaryContact.$error.maxlength"
						class="help-block">Secondary contact is too long.</p>
				</div>

				<!-- source state -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.srcState.$invalid && !userForm.srcState.$pristine }">
					<select name="srcState" class="form-controll"
						ng-model="user.srcState" required>
						<option default selected disabled="disabled" value="">
							Select Your State</option>
						<option value="Madhyapradesh">Madhya-Pradesh</option>
					</select>
					<p
						ng-show="userForm.srcState.$invalid && !userForm.srcState.$pristine"
						class="help-block">Source state is required.</p>
				</div>

				<!-- source City -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.srcCity.$invalid && !userForm.srcCity.$pristine }">
					<select name="srcCity" class="form-controll"
						ng-model="user.srcCity" required>
						<option default selected disabled="disabled" value="">
							Select Your City</option>
						<option value="Indore">Indore</option>
					</select>
					<p
						ng-show="userForm.srcCity.$invalid && !userForm.srcCity.$pristine"
						class="help-block">Source city is required.</p>
				</div>

				<!-- Source address-->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.srcAddress.$invalid && !userForm.srcAddress.$pristine }">
					<input type="text" placeholder="Source Address" name="srcAddress"
						class="form-controll" ng-model="user.srcAddress" required>
					<p
						ng-show="userForm.srcAddress.$invalid && !userForm.srcAddress.$pristine"
						class="help-block">You name is required.</p>
				</div>

				<!-- Pin No.-->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.srcPin.$invalid && !userForm.srcPin.$pristine }">
					<input type="number" placeholder="Pin No." name="srcPin"
						class="form-controll" ng-model="user.srcPin" ng-minlength="6"
						ng-maxlength="6">
					<p ng-show="userForm.srcPin.$error.minlength" class="help-block">Should
						be 6 Digits</p>
					<p ng-show="userForm.srcPin.$error.maxlength" class="help-block">Should
						be 6 Digits</p>
				</div>


				<!-- Truck Type-->
				<!--					<div class="form-group"
					ng-class="{ 'has-error' : userForm.srcpin.$invalid && !userForm.srcpin.$pristine }">
					<select name="truckType" class="form-controll" ng-model="user.truckType" required>
					  <option value="volvo">Volvo</option>
					  <option value="saab">Saab</option>
					  <option value="mercedes">Mercedes</option>
					  <option value="audi">Audi</option>
					</select>
					<p ng-show="userForm.srcaddress.$invalid && !userForm.srcaddress.$pristine" class="help-block">srcaddress is required.</p>
					</div>
 -->


				<!-- Gooods details and remarks-->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.goodsDescp.$invalid && !userForm.goodsDescp.$pristine }">
					<textarea placeholder="Goods Description" rows="8"
						class="textareablk" cols="65" name="goodsDescp"
						ng-model="user.goodsDescp" required>
						</textarea>
					<p
						ng-show="userForm.goodsDescp.$invalid && !userForm.goodsDescp.$pristine"
						class="help-block">Goods description is required.</p>
				</div>
			</div>




			<div class="div-right">
				<h1>Destination Details</h1>

				<!--Destination NAME -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.desname.$invalid && !userForm.desname.$pristine }">
					<input type="text" name="desname"
						placeholder="Destination Point of Contact" class="form-controll"
						ng-model="user.desname" required>
					<p
						ng-show="userForm.desname.$invalid && !userForm.desname.$pristine"
						class="help-block">You name is required.</p>
				</div>

				<!--Destination Primary contact -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.desPrimarycontact.$invalid && !userForm.desPrimarycontact.$pristine }">
					<input type="number" placeholder="Destination Primary Contact"
						name="desPrimarycontact" class="form-controll"
						ng-model="user.desPrimarycontact" ng-minlength="10"
						ng-maxlength="10">
					<p ng-show="userForm.desPrimarycontact.$error.minlength"
						class="help-block">Destination primary contact is too short.</p>
					<p ng-show="userForm.desPrimarycontact.$error.maxlength"
						class="help-block">Destination primary contact is too long.</p>
				</div>


				<!-- Secondary contact -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.desSecondarycontact.$invalid && !userForm.desSecondarycontact.$pristine }">
					<input type="number" placeholder="Destination Secondary Contact"
						name="desSecondarycontact" class="form-controll"
						ng-model="user.desSecondarycontact" ng-minlength="10"
						ng-maxlength="10">
					<p ng-show="userForm.desSecondarycontact.$error.minlength"
						class="help-block">Destination secondary contact is too short.</p>
					<p ng-show="userForm.desSecondarycontact.$error.maxlength"
						class="help-block">Destination secondary contact is too long.</p>
				</div>

				<!-- source state -->
				<!-- 					<div class="form-group"
					ng-class="{ 'has-error' : userForm.srcstate.$invalid && !userForm.srcstate.$pristine }">
					<select name="srcstate"  class="form-controll" ng-model="user.srcstate" required>
					  <option default selected disabled="disabled" value=""  > Select Your State</option>
					  <option value="Madhyapradesh">Madhyapradesh</option>
					</select>
					<p ng-show="userForm.srcstate.$invalid && !userForm.srcstate.$pristine" class="help-block">srcstate is required.</p>
					</div>

source City
					<div class="form-group"
					ng-class="{ 'has-error' : userForm.srccity.$invalid && !userForm.srccity.$pristine }">
					<select name="srccity"  class="form-controll" ng-model="user.srccity" required>
					  <option default selected disabled="disabled" value=""  > Select Your City</option>
					  <option value="Indore">Indore</option>
					</select>
					<p ng-show="userForm.srccity.$invalid && !userForm.srccity.$pristine" class="help-block">srccity is required.</p>
					</div>
 -->
				<!--Destination address-->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.desAddress.$invalid && !userForm.desAddress.$pristine }">
					<input type="text" placeholder="Destination Address"
						name="desAddress" class="form-controll" ng-model="user.desAddress"
						required>
					<p
						ng-show="userForm.desAddress.$invalid && !userForm.desAddress.$pristine"
						class="help-block">Destination Address required.</p>
				</div>

				<!-- Pin No.-->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.desPin.$invalid && !userForm.desPin.$pristine }">
					<input type="number" placeholder="Destination Pin No."
						name="desPin" class="form-controll" ng-model="user.desPin"
						ng-minlength="10" ng-maxlength="10">
					<p ng-show="userForm.desPin.$error.minlength" class="help-block">despin
						is too short.</p>
					<p ng-show="userForm.desPin.$error.maxlength" class="help-block">despin
						is too long.</p>
				</div>


				<!-- Truck Type-->
				<!--					<div class="form-group"
					ng-class="{ 'has-error' : userForm.srcpin.$invalid && !userForm.srcpin.$pristine }">
					<select name="truckType" class="form-controll" ng-model="user.truckType" required>
					  <option value="volvo">Volvo</option>
					  <option value="saab">Saab</option>
					  <option value="mercedes">Mercedes</option>
					  <option value="audi">Audi</option>
					</select>
					<p ng-show="userForm.srcaddress.$invalid && !userForm.srcaddress.$pristine" class="help-block">srcaddress is required.</p>
					</div>
 -->


				<!-- remarks-->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.remarks.$invalid && !userForm.remarks.$pristine }">
					<textarea placeholder="Remarks" rows="8" class="textareablk"
						cols="65" name="remarks" ng-model="user.remarks" required>
						</textarea>
					<p
						ng-show="userForm.remarks.$invalid && !userForm.remarks.$pristine"
						class="help-block">Remarks</p>
				</div>


			</div>



			<button type="submit" class="btn btn-primary btn-large">Submit</button>
		</form>

		<!-- <div class="row">
					<div class="col-md-12">
						<h1>Source Description</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						<p><a href="#screenshots" class="arrow-btn">See the screenshots! <i class="fa fa-long-arrow-right"></i></a></p>
					</div>
				</div> -->



	</section>
	<section class="screenshots" id="screenshots">
		<div class="container-fluid">
			<div class="row">
				<ul class="grid">
					<li>
						<figure>
							<img src="app/assets/img/01-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/01.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Optimised For Design</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="app/assets/img/02-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/02.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>User Centric Design</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="app/assets/img/03-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/03.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Responsive and Adaptive</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="app/assets/img/04-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/04.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Absolutely Free</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			<div class="row">
				<ul class="grid">
					<li>
						<figure>
							<img src="app/assets/img/05-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/05.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Multi-Purpose Design</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="app/assets/img/06-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/06.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Exclusive to Codrops</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="app/assets/img/07-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/07.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Made with Love</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="app/assets/img/08-screenshot.jpg" alt="Screenshot 01">
							<figcaption>
								<div class="caption-content">
									<a href="app/assets/img/large/08.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>In Sydney, Australia</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="download" id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center wp4">
					<h1>Seen Enough?</h1>
					<a href="http://tympanus.net/codrops/?p=22554" class="download-btn">Download!
						<i class="fa fa-download"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h1 class="footer-logo">
						<img src="app/assets/img/logo-blue.png" alt="Footer Logo Blue">
					</h1>
					<p>
						© Boxify 2015 - <a href="http://tympanus.net/codrops/licensing/">Licence</a>
						- Designed &amp; Developed by <a
							href="http://www.peterfinlan.com/">Peter Finlan</a>
					</p>
				</div>
				<div class="col-md-7">
					<ul class="footer-nav">
						<li><a href="#about">About</a></li>
						<li><a href="#features">Features</a></li>
						<li><a href="#screenshots">Screenshots</a></li>
						<li><a href="#download">Download</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- 		<div class="overlay overlay-boxify">
			<nav>
				<ul>
					<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
					<li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
					<li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
					<li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
					<li><a data-target="#myModal" data-toggle="modal" ><i class="fa fa-download"></i>AdminLogin</a></li>
				</ul>
				<ul ng-show="userLogin" >


					<li><a href="#screenshots"><i class="fa fa-desktop"></i>Logout</a></li>

					<li><a data-target="#myModal" data-toggle="modal" ><i class="fa fa-download"></i>History</a></li>
					<li><a href="#screenshots"><i class="fa fa-desktop"></i>User Profile</a></li>
					<li><a href="#download"><i class="fa fa-download"></i>Post a quote </a></li>
				</ul>
			</nav>
		</div>
 -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	<script src="app/assets/libs/others/flickity.pkgd.min.js"></script>
	<script src="app/assets/libs/others/jquery.fancybox.pack.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="app/assets/libs/others/retina.js"></script>
	<script src="app/assets/libs/others/waypoints.min.js"></script>
	<script src="app/assets/libs/others/bootstrap.min.js"></script>
	<script src="app/assets/libs/others/scripts-min.js"></script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>


	<div id="myModal" class="modal fade"
		data-ng-controller="LoginController">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Login here...</h4>
				</div>

				<div class="modal-body">


					<form role="form" data-ng-submit="login(user)">
						<div class="form-group">
							<label for="email">User Name:</label> <input type="email"
								required data-ng-model="user.id" class="form-control" id="email">
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label> <input type="password"
								required data-ng-model="user.password" class="form-control"
								id="pwd">
						</div>

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Login</button>
						<button class="btn btn-primary" data-toggle="modal"
							data-target="#registerUser" data-dismiss="modal" type="button">Register</button>
					</form>

				</div>
				<div class="modal-footer"></div>

			</div>
		</div>
	</div>

<!-- success modal -->
	<div id="successModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Success</h4>
				</div>
				<div class="modal-body">
						
					<b style="color:green" id="successTitle">  </b></br>
					<p id="successBody"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>


				</div>
			</div>
		</div>
	</div>
	
	<!-- Failure modal -->
	<div id="failureModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Error</h4>
				</div>
				<div class="modal-body">
					<b style="color:red" id="errorTitle">  </b></br>
					<p id="errorBody"></p>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>


				</div>
			</div>
		</div>
	</div>
	
	
	
<!-- progress bar -->

<div id="progressBar" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content" style=" width: 40%;">
			
				<div class="modal-body">
					<img src="app/assets/img/progressbar.gif">
				</div>
				
			</div>
		</div>
	</div>




	<div id="registerUser" class="modal fade"
		data-ng-controller="RegisterController">
		<!-- <div ng-include="app/components/register/register.html"></div> -->
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Register here...</h4>
				</div>
				<div class="modal-body">
					<div id="registerForm">
						<form role="form" data-ng-submit="addUser(user)">

							<div class="form-group">
								<label for="name">Name</label> <input type="text"
									class="form-control" id="name" placeholder="Enter Full Name"
									required data-ng-model="user.name">
							</div>
							<div class="form-group">
								<label for="name">Email</label> <input type="email"
									class="form-control" id="email" placeholder="Enter Email"
									required data-ng-model="user.email">
							</div>
							<div class="form-group">
								<label for="name">Password</label> <input class="form-control"
									id="password" type="password" min="6"
									placeholder="Enter password" required
									data-ng-model="user.password">
							</div>
							<div class="form-group">
								<label for="name">Confirm Password</label> <input
									class="form-control" id="confirmPassword" type="password"
									min="6" placeholder="Confirm password" required
									data-ng-model="user.confirmPassword">
							</div>
							<div class="form-group">
								<label for="role">Role</label> 
								<select class="form-control" id="role" data-ng-model="user.role">
									<option value="0" > Select one</option>
									<option value="1" disabled="disabled">User (not supporting now)</option>
									<option value="2">Transporter</option>
									<option value="3">Manufacturer</option>
									<option value="4">Admin</option>

								</select>
							</div>
							<div class="modal-footer">
							<p id="error" style="color:red ;text-align: left;"></p>
							<button data-toggle="modal" type="submit" class="btn btn-primary">Register</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>

	</div>




</body>
</html>
