<div>
	<h1>Welcome... {{loggedInUser}}</h1>
	<section class="hero">

		<div class="texture-overlay"></div>
		<div class="container">

			<div class="row hero-content">
				<div class="col-md-2">
					<ul id="sideMenu" class="nav nav-pills nav-stacked">

						<li id="profile" class="active"><a href=""
							data-ng-click="showProfile()">User Profile</a></li>
						<li id="history"><a href="" data-ng-click="showHistory()">History</a></li>
						<li id="putAQuote"><a href="" data-ng-click="showQuote()">Put
								a quote</a></li>
						<li id="notification"><a href=""
							data-ng-click="getNotification()"> <span class="badge1"
								data-badge="6">Inbox</span></a></li>
					</ul>
				</div>
				<div class="col-md-6" style="border-left: solid 1px;">
					<div ng-if="user.profile">
						<h3>User Profile</h3>

						<form role="form" data-ng-submit="updateUser(user)">

							<div class="form-group">
								<h4 style="font-weight: bold; color: lime;">General
									Information</h4>
								<div class="row">
									<div class="form-group paddingBtm30px">
										<div class=" col-md-4">
											<label for="name">Name</label>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" id="name"
												placeholder="Enter Full Name" required
												data-ng-model="user.name" value="{{user.name}}">
										</div>
									</div>
									<div class="form-group paddingBtm30px">
										<div class="  col-md-4">
											<label for="name">Email</label>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" id="email"
												placeholder="{{user.email}}" required
												data-ng-model="user.email">
										</div>
									</div>
									<div class="form-group">
										<div class="  col-md-4">
											<label for="role">Role</label>
										</div>
										<div class="col-md-8">{{user.role}}</div>
									</div>
								</div>
								<hr>
								<h4 style="font-weight: bold; color: lime;">Address
									Information</h4>
								<div class="row" style="padding-bottom: 5px;">

									<div class="form-group paddingBtm30px">
										<div class="col-md-4 ">Pin Code</div>
										<div class="col-md-8 ">
											<input type="text" maxlength="6" id="pinCode"
												class="form-control">
										</div>
									</div>
									<div class="form-group paddingBtm30px">
										<div class="col-md-4 ">Address</div>
										<div class="col-md-8 ">
											<textarea class="form-control" rows="2" cols="30"
												id="address" style="color: black">{{user.address}}</textarea>
										</div>
									</div>
									<div class="form-group paddingBtm30px"
										style="padding-top: 17px;">
										<div class="col-md-4">City</div>
										<div class="col-md-8">
											<input class="form-control" type="text" id="city"
												value="{{user.city}}" data-ng-modal="user.city">
										</div>
									</div>
									<div class="form-group paddingBtm30px">
										<div class="col-md-4">State</div>
										<div class="col-md-8">
											<input class="form-control" type="text" id="state"
												value="{{user.state}}" data-ng-modal="user.state">
										</div>
									</div>
									<div class="form-group paddingBtm30px">
										<div class="col-md-4">Landmark</div>
										<div class="col-md-8">
											<input class="form-control" type="text" id="landmark"
												value="{{user.landmark}}" data-ng-modal="user.landmark">
										</div>
									</div>
									<div class="form-group paddingBtm30px">
										<div class="col-md-4">Phone Number</div>
										<div class="col-md-8">
											<input type="text" maxlength="10" class="form-control"
												id="phoneNumber1" value="{{user.phoneNumber1}}"
												data-ng-modal="user.phoneNumber1">
										</div>


									</div>
								</div>
								<hr>
								<h4 style="font-weight: bold; color: lime;">Company
									Information</h4>
								<div class="row" style="padding-bottom: 5px;">

									<div class="form-group">

										<div class="form-group paddingBtm30px">
											<div class="col-md-4">Name</div>
											<div class="col-md-8">
												<input type="text" class="form-control" id="Cname"
													placeholder="Enter Company name" required
													data-ng-model="user.companyName" value="user.companyName">
											</div>
										</div>


										<div class="form-group paddingBtm30px ">
											<div class="col-md-4 ">Pin Code</div>
											<div class="col-md-8 ">
												<input type="text" maxlength="6" class="form-control"
													data-ng-model="user.companyPinCode"
													value="user.companyPinCode">
											</div>
										</div>
										<div class="form-group paddingBtm30px">
											<div class="col-md-4 ">Address</div>
											<div class="col-md-8 ">
												<textarea class="form-control" rows="2" cols="30"
													style="color: black" data-ng-model="user.companyAddress">{{user.companyAddress}}</textarea>
											</div>
										</div>
										<div class="form-group paddingBtm30px"
											style="padding-top: 17px;">
											<div class="col-md-4">City</div>
											<div class="col-md-8">
												<input class="form-control" type="text"
													data-ng-model="user.companyCity" value="user.companyCity">
											</div>
										</div>
										<div class="form-group paddingBtm30px">
											<div class="col-md-4">State</div>
											<div class="col-md-8">
												<input class="form-control" type="text"
													data-ng-model="user.companyState" value="user.companyState">
											</div>
										</div>
										<div class="form-group paddingBtm30px">
											<div class="col-md-4">Landmark</div>
											<div class="col-md-8">
												<input class="form-control" type="text"
													data-ng-model="user.companyLandmark"
													value="user.companyLandmark">
											</div>
										</div>
										<div class="form-group paddingBtm30px">
											<div class="col-md-4">Phone Number</div>
											<div class="col-md-8">
												<input type="text" maxlength="10" class="form-control"
													data-ng-model="user.companyPhone" value="user.companyPhone">
											</div>
										</div>

									</div>



								</div>

								<input type="checkbox" name="update" ng-model="checked">
								<button data-toggle="modal" type="submit"
									class="btn btn-primary" ng-disabled="!checked">Update
									Profile</button>
						</form>
						<hr>

						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="" data-toggle="collapse"
											data-target="#showChangePassword"
											style="text-decoration: underline;"> Password Management</a>
									</h4>
								</div>
								<div id="showChangePassword" class="panel-collapse collapse">
									<form role="form" data-ng-submit="ChangePassword(user)">
										<div class="panel-body">
											<div class="form-group ">
												<label for="name" style="color: blue">Old Password</label> <input
													class="form-control" id="password" type="password" min="6"
													placeholder="Enter Old password" required
													data-ng-model="user.oldPassword">
											</div>
											<div class="form-group">
												<label for="name" style="color: blue">New Password</label> <input
													class="form-control" id="password" type="password" min="6"
													placeholder="Enter New password" required
													data-ng-model="user.newPassword">
											</div>
											<div class="form-group">
												<label for="name" style="color: blue">Confirm
													Password</label> <input class="form-control" id="confirmPassword"
													type="password" min="6" placeholder="Confirm password"
													required data-ng-model="user.confirmPassword">
											</div>
										</div>
										<div class="panel-footer">
											<button type="submit" class="btn btn-primary">Change
												Password</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div ng-if="user.history" style="padding-left: 5px;">

					<h3>History</h3>


					<label>Accepted Quotes</label>
					<table class="table   " style="border: 1px solid;">
						<thead>
							<tr>
								<th>Quote Id</th>
								<th>Details</th>
								<th></th>

							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="quote in acceptedQuote">
								<td><a href="" data-target="#viewQuoteDetails"
									data-toggle="modal" style="text-decoration: underline;">{{quote.id}}</a></td>
								<td>{{quote.details}}</td>
								<td data-ng-click="getInvoice(quote.id)"><button
										class="btn btn-primary">Invoice</button></td>
							</tr>
						</tbody>
					</table>
					<label>Declined Quotes</label>
					<table class="table   " style="border: 1px solid;">
						<thead>
							<tr>
								<th>Quote Id</th>
								<th>Details</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="quote in declinedQuote">
								<td><a href="" data-target="#viewQuoteDetails"
									data-toggle="modal" style="text-decoration: underline;">{{quote.id}}</a></td>
								<td>{{quote.details}}</td>
								<td></td>
							</tr>
						</tbody>
					</table>

				</div>


				<div ng-if="user.quote" style="padding-left: 5px;">
					<div class="row">

						<form class="form-inline" role="form"
							data-ng-submit="getSearchedQuotes(search)">
							<div class="form-group">
								<label for="source">Source:</label> <input type="text"
									class="form-control" id="source" style="color: black;"
									data-ng-model="search.source">
							</div>
							<div class="form-group">
								<label for="destination">Destination:</label> <input class="form-control" type="text"
									id="destination" style="color: black;"
									data-ng-model="search.destination">
							</div>
							<br>
							<div class="form-group">
								<label>From:</label> <input id="datepicker" class="form-control"
									type="text" style="color: black;" data-ng-datepicker
									data-ng-options="datepickerOptions"
									data-ng-model="search.datefrom">
							</div>
							<div class="form-group">
								<label>To:</label> <input class="form-control" id="datepicker"
									type="text" style="color: black;" data-ng-datepicker
									data-ng-options="datepickerOptions"
									data-ng-model="search.dateto">

							</div>


							<button type="submit" class="btn btn-primary">Search</button>

						</form>
						</div>
						<br>
						<table class="table table-bordered ">
							<thead>

								<tr>
									<th>User</th>
									<th>Source</th>
									<th>Dest.</th>
									<th>Truck</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="quote in quotes | filter : searchData">
									<td data-ng-modal="quote.user">{{quote.user}}</td>
									<td data-ng-modal="quote.source">{{quote.source}}</td>
									<td data-ng-modal="quote.des">{{quote.des}}</td>
									<td data-ng-modal="quote.truck">{{quote.truck}}</td>
									<td><button class="btn btn-primary" type="button"
											data-ng-click="viewDetails(quote)">View Details</button></td>
								</tr>
							</tbody>
						</table>

					</div>



					<div ng-if="user.notification" style="padding-left: 5px;">
						<h3>Notification</h3>
						<table class="table table-hover  " style="border: 1px solid;">
							<tr data-ng-repeat="notifications in notification"
								data-ng-click="viewNotification();">
								<td>{{notification.sender}}</td>
								<td>{{notification.subject}}</td>

							</tr>

						</table>


					</div>
				</div>

			</div>
	</section>

	<!-- view Detail modal -->
	<div id="viewDetailsModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content" style="padding: 15px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h2 class="modal-title">Quote Details</h2>
				</div>

				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<h4 style="font-weight: bold; color: blue;">User Information</h4>
							<div class="row">

								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Name:</label>
									</div>
									<div class="col-md-10">{{quote.user}}</div>
								</div>


							</div>
							<h4 style="font-weight: bold; color: blue;">Address
								Information</h4>
							<div class="row">
								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Source:</label>
									</div>
									<div class="col-md-10">
										<span>{{quote.source}}</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 45px;">
									<div class="col-md-2">
										<label> Address:</label>
									</div>
									<div class="col-md-10">
										<textarea rows="2" cols="30" readonly>{{quote.sourceAdd}}</textarea>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Destination:</label>
									</div>
									<div class="col-md-10">{{quote.des}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 45px;">
									<div class="col-md-2">
										<label>Address:</label>
									</div>
									<div class="col-md-10">
										<textarea rows="2" cols="30" readonly>{{quote.desAdd}}</textarea>
									</div>

								</div>

							</div>

							<h4 style="font-weight: bold; color: blue;">Item Information</h4>
							<div class="row">

								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Truck:</label>
									</div>
									<div class="col-md-10">{{quote.truck}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Item detail:</label>
									</div>
									<div class="col-md-10">{{quote.itemDetails}}</div>

								</div>

							</div>

						</div>

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">accept</button>

					</form>

				</div>
				<div class="modal-footer">
					<form role="form">
						<div class="form-group" style="text-align: justify">
							<h4>
								<b>Post your quote</b>
							</h4>
							<div class="row">

								<div class="form-group" style="padding-bottom: 20px;">
									<div class="col-md-2">
										<label>Price:</label>
									</div>
									<div class="col-md-10">
										<input type="text">
									</div>


								</div>
							</div>

							<div class="row">

								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Remark:</label>
									</div>
									<div class="col-md-10">
										<textarea></textarea>
									</div>


								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Post</button>
					</form>

				</div>

			</div>
		</div>
	</div>

	<!-- view Detail modal -->
	<div id="viewQuoteDetails" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content" style="padding: 15px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h2 class="modal-title">Quote Details</h2>
				</div>

				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<h4 style="font-weight: bold; color: blue;">User Information</h4>
							<div class="row">

								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Name:</label>
									</div>
									<div class="col-md-10">{{quote.user}}</div>
								</div>


							</div>
							<h4 style="font-weight: bold; color: blue;">Address
								Information</h4>
							<div class="row">
								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Source:</label>
									</div>
									<div class="col-md-10">
										<span>{{quote.source}}</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 45px;">
									<div class="col-md-2">
										<label> Address:</label>
									</div>
									<div class="col-md-10">
										<textarea rows="2" cols="30" readonly>{{quote.sourceAdd}}</textarea>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Destination:</label>
									</div>
									<div class="col-md-10">{{quote.des}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 45px;">
									<div class="col-md-2">
										<label>Address:</label>
									</div>
									<div class="col-md-10">
										<textarea rows="2" cols="30" readonly>{{quote.desAdd}}</textarea>
									</div>

								</div>

							</div>

							<h4 style="font-weight: bold; color: blue;">Item Information</h4>
							<div class="row">

								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Truck:</label>
									</div>
									<div class="col-md-10">{{quote.truck}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group" style="padding-bottom: 5px;">
									<div class="col-md-2">
										<label>Item detail:</label>
									</div>
									<div class="col-md-10">{{quote.itemDetails}}</div>

								</div>

							</div>

						</div>


					</form>

				</div>


			</div>
		</div>
	</div>
</div>
